.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: white;
}

.button--disabled {
    background-color: var(--button-bg-color--disabled) !important;
    color: #7f8c8d !important;
    cursor: not-allowed !important;;
}

.button-circle {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--button-bg-color-secondary);
    margin: 10px;
}

.button-circle--danger {
    background-color: var(--button-bg-color--danager) !important;
}

.button-circle--active {
    border: 2px solid white;
}

.button-circle--disabled {
    background-color: var(--button-bg-color-secondary--disabled) !important;
    color: #7f8c8d !important;
    cursor: not-allowed !important;
}

.button-square {
    border: transparent 2px solid;
    border-radius: 2px;
    background-color: var(--button-bg-color-primary);
    min-width: 40px;
    height: 40px;
    padding: 5px;
}

.button-square--active {
    border: 2px solid white;
}

.button-square--danger {
    background-color: var(--button-bg-color--danager) !important;
}

.button-square--success {
    background-color: var(--button-bg-color--success) !important;
}

.button-up-down {
    border: transparent 2px solid;
    border-radius: 2px;
    background-color: var(--button-bg-color-primary);
    width: 40px;
    max-height: 18px;
}

.button-up {
    margin-bottom: 2px;
}

.button-down {
    margin-top: 2px;
}