.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 500;
}

.modal__hidden {
    display: none;
}

.modal-content {
    z-index: 501;
    opacity: 100% !important;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.modal-body {
    padding: 16px;
}


.modal-content_save-plan {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 500px;
}

.modal-content_save-plan_message {
    color: red;
}

.modal-header {
    padding: 5px 10px 0 10px;
}

.modal-footer {
    width: 100%;
    background-color: #7f8c8d;
    padding: 10px;
    display: flex;
}

.modal-content__button-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 0;
}