@import './styles/canvas.css';
@import './styles/layout.css';
@import './styles/buttons.css';
@import './styles/dropdown.css';
@import './styles/inputs.css';
@import './styles/modal.css';
@import './styles/alert.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    --button-bg-color-primary: #6b6b6b;
    --button-bg-color-secondary: #3498db;

    --button-bg-color--disabled: #4a4949;
    --button-bg-color-secondary--disabled: #114a70;

    --button-bg-color--danager: #f71505;
    --button-bg-color--success: #2ecf06;
}

body {
    margin: 0;
    display: flex;
}

* {
    box-sizing: border-box;
}


